
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(52, 199, 199);
  align-items: center;
  z-index: 1000;
}
.logo {
  padding: 0 20px;
  z-index: 2000;
}

.logo2 ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
  padding-right: 50px;

  @media (max-width: 800px) {
    display: none;
  }
}
.logo2 li {
  list-style: none;
  padding: 0 20px;
  font-size: 17px;
  font-weight: 900;
  color: rgb(62, 18, 156);
  cursor: pointer;
  z-index: 6000;

}


@media (max-width: 800px) {
  .navbar li {
    display: none;
  }
}
